<!DOCTYPE html>
<html>
<head>
    <title>Orders Resource</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    * {box-sizing: border-box}
    body {font-family: "Lato", sans-serif;}

    /* Style the tab */
    .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
    overflow-y: auto;
    }

    /* Style the buttons inside the tab */
    .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
    background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    overflow-y: auto;
    }
    </style>
    <link rel="stylesheet" href="">
    
    
    <script type="text/javascript" src = "{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rest_api.js') }}"></script> 
 
</head>
<body>

<h2>ORDERS RESOURCE</h2>
<p>Create, Read, Update, or Delete Orders and Items</p>

<!-- Flash Message -->
<div class="table-responsive">
    <table class="table">
        <tr>
            <td>Status:</td>
            <td><span id="flash_message"></span></td>
        </tr>
    </table>
</div>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'create')" id="defaultOpen">Create an order</button>
  <button class="tablinks" onclick="openTab(event, 'update')" >Update an order</button>
  <button class="tablinks" onclick="openTab(event, 'listall')">List all orders</button> 
  <button class="tablinks" onclick="openTab(event, 'delete')">Delete an order</button> 
  <button class="tablinks" onclick="openTab(event, 'create-item')">Create an item</button>
  <button class="tablinks" onclick="openTab(event, 'listall-item')">List all items of an Order</button>
  <button class="tablinks" onclick="openTab(event, 'update-item')">Update an Item</button>
</div>

<div id="create" class="tabcontent">
  <h3>Create an order</h3> 
  <div class="container"> 

    <div class="col-md-12" id="form_data"> 
        
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="order_id">Order ID:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="order_id" placeholder="Enter ID of Order">
                </div>
            </div>
        </div> 
         
        <br/>
        <div class="form-horizontal"> 
            <div class="form-group">
                <label class="control-label col-sm-2" for="order_name">Order Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="order_name"
                        placeholder="Enter Order Name">
                </div>
            </div>
        </div> 

        <br/>
        <div class="form-horizontal"> 
            <div class="form-group">
                <label class="control-label col-sm-2" for="order_addr">Order Address:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="order_addr"
                        placeholder="Enter Address for the Order">
                </div>
            </div>
        </div> 

        <br/>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10"> 
                <button type="submit" class="btn btn-success" id="create-btn">Create Order</button> 
            </div>
        </div>

    </div>
  </div>
</div>

<div id="update" class="tabcontent">
    <h3>Update an order</h3> 
    <div class="container"> 
  
      <div class="col-md-12" id="form_data"> 
          
          <div class="form-horizontal">
              <div class="form-group">
                  <label class="control-label col-sm-2" for="update_order_id">Order ID:</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" id="update_order_id" placeholder="Enter ID of Order">
                  </div>
              </div>
          </div> 
           
          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="update_order_name">Order Name:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="update_order_name"
                          placeholder="Enter Order Name">
                  </div>
              </div>
          </div> 
  
          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="update_order_addr">Order Address:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="update_order_addr"
                          placeholder="Enter Address for the Order">
                  </div>
              </div>
          </div> 
  
          <br/>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10"> 
                  <button type="submit" class="btn btn-success" id="update-btn">Update Order</button> 
              </div>
          </div>
  
      </div>
  </div>
  </div>

<div id="listall" class="tabcontent">
  <h3>List all orders</h3> 
  <div class="container"> 

    <div class="col-md-12" id="form_data"> 
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10"> 
                <button type="submit" class="btn btn-success" id="listall-btn">List all Order(s)</button> 
            </div>
        
            <br/>
            <div class="table-responsive col-md-12" id="list_results">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">ID</th>
                            <th class="col-md-4">Order Name</th>
                            <th class="col-md-4">Address</th>
                            <th class="col-md-3">Date of Creation</th>
                        </tr>
                    </thead>
                </table>
                <br>
            </div>
        </div>

    </div>
  </div>
</div>

<div id="delete" class="tabcontent">
    <h3>Delete an order</h3> 
    <div class="container"> 
      <div class="col-md-12" id="form_data"> 
          <div class="form-horizontal">
              <div class="form-group">
                  <label class="control-label col-sm-2" for="order_id">Order ID:</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" id="delete_order_id" placeholder="Enter ID of Order">
                  </div>
              </div>
          </div> 
          <br/>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10"> 
                  <button type="submit" class="btn btn-success" id="delete-btn">Delete Order</button> 
              </div>
          </div>
  
      </div>
   </div>
</div>

<div id="create-item" class="tabcontent">
    <h3>Create an item</h3> 
    <div class="container"> 
  
      <div class="col-md-12" id="form_data"> 
          
          <div class="form-horizontal">
              <div class="form-group">
                  <label class="control-label col-sm-2" for="item_id">Item ID:</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" id="item_id" placeholder="Enter ID of Item">
                  </div>
              </div>
          </div> 

          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="item_order_id">Order ID:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="item_order_id"
                          placeholder="Enter Order ID">
                  </div>
              </div>
          </div>
           
          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="item_product_id">Product ID:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="item_product_id"
                          placeholder="Enter Product ID">
                  </div>
              </div>
          </div> 
  
          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="item_price">Price:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="item_price"
                          placeholder="Enter Item Price">
                  </div>
              </div>
          </div>
          
          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="item_quantity">Quantity:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="item_quantity"
                          placeholder="Enter Item Quantity">
                  </div>
              </div>
          </div>

          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="item_status">Status:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="item_status"
                          placeholder="Enter Item Status">
                  </div>
              </div>
          </div>
  
          <br/>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10"> 
                  <button type="submit" class="btn btn-success" id="create-item-btn">Create Item</button> 
              </div>
          </div>
  
      </div>
    </div>
</div>

<div id="listall-item" class="tabcontent">
    <h3>List all items of an Order</h3> 
    <div class="container"> 
  
      <div class="col-md-12" id="form_data"> 
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="order_id_items">Order ID:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="order_id_items" placeholder="Enter ID of Order">
                </div>
            </div>
        </div> 
        <br/>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10"> 
                  <button type="submit" class="btn btn-success" id="listall-item-btn"> List all items of an Order</button> 
              </div>
          
              <br/>
              <div class="table-responsive col-md-12" id="list_item_results">
                  <table class="table-striped">
                      <thead>
                          <tr>
                              <th class="col-md-1">ID</th>
                              <th class="col-md-4">OrderID</th>
                              <th class="col-md-4">ProductID</th>
                              <th class="col-md-3">Price</th>
                              <th class="col-md-3">Quantity</th>
                              <th class="col-md-4">Status</th>
                          </tr>
                      </thead>
                  </table>
                  <br>
              </div>
          </div>
      </div>
    </div>
</div>

<div id="update-item" class="tabcontent">
    <h3>Update an item</h3> 
    <div class="container"> 
  
      <div class="col-md-12" id="form_data"> 
          
          <div class="form-horizontal">
              <div class="form-group">
                  <label class="control-label col-sm-2" for="update_item_id">Item ID:</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" id="update_item_id" placeholder="Enter ID of Item">
                  </div>
          </div> 
           
          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="order_id_update">Order ID:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="order_id_update" placeholder="Enter Order Name">
                  </div>
              </div>
          </div> 
  
          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="update_product_id">Product ID:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="update_product_id" placeholder="Enter Item's Product ID">
                  </div>
              </div>
          </div>

          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="update_item_price">Price:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="update_item_price" placeholder="Enter Item's Price">
                  </div>
              </div>
          </div>

          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="update_item_quantity">Quantity:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="update_item_quantity" placeholder="Enter Item's Quantity">
                  </div>
              </div>
          </div> 

          <br/>
          <div class="form-horizontal"> 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="update_item_status">Status:</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="update_item_status"
                          placeholder="Enter Item's Status">
                  </div>
              </div>
          </div> 
  
          <br/>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10"> 
                  <button type="submit" class="btn btn-success" id="update-item-btn">Update Item</button> 
              </div>
          </div>
  
       </div>
      </div>
    </div>
</div>

<script>
function openTab(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
   
</body>
</html> 
